@media screen and (max-width: 575px) {

    /* header stat */
    .header-left {
        width: 22vw;
    }

    .header-left .h2 {
        font-size: 3vw;
    }

    .header-center {
        width: 42vw;
    }

    .header-center ul li {
        font-size: 2.5vw;
    }

    .header-right {
        width: 15vw;
        margin-bottom: 1.5vw;
    }

    a.hr {
        font-size: 1.7vw;
    }

    /* hero sec start */
    .hero-sec {
        width: 85vw;
        height: auto;
        flex-direction: column;
    }

    .hero-sec-left {
        width: inherit;
        height: auto;
    }

    .top-p {
        font-size: 3vw;
    }

    .hero-sec-left h1 {
        font-size: 7vw;
    }

    .hero-sec-left h4 {
        font-size: 4vw;
    }

    .bottom-p {
        line-height: 3.5vw;
        font-size: 3vw;
        text-align: justify;
    }

    a#hrl {
        font-size: 2vw;
    }

    .hero-sec-right {
        width: inherit;
        height: auto;
    }

    .box {
        width: 40vw;
        height: 40vw;
    }

    .box i {
        font-size: 10vw;
        margin-bottom: 3vw;
    }

    .box h3 {
        font-size: 3vw;
    }

    .box p {
        font-size: 3vw;
    }

    .line-container {
        display: none;
    }

    /* sec 1 start */
    .sec-1 {
        height: auto;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .heading h2 {
        font-size: 4vw;
    }

    .heading h2::after {
        width: 65vw;
        top: 2.3vw;
        left: 20vw;
    }

    .sec-1-inner {
        height: auto;
        flex-direction: column;
    }

    .sec-1-left {
        width: 85vw;
        height: auto;
    }

    .sec-1-left p {
        font-size: 3vw;
        line-height: 3vw;
        text-align: justify;
    }

    .sec-1-right {
        width: 85vw;
        height: auto;
    }

    .sec-1-right-inner {
        width: 85vw;
        height: auto;
    }

    .sec-1-right-inner h4 {
        font-size: 4vw;
    }

    .sri-box p {
        font-size: 3vw;
    }

    .sri-box i {
        width: 3vw;
        height: 3vw;
        font-size: 1.9vw;
    }

    .sri-box {
        margin-bottom: 1vw;
    }

    /* sec 2 start */
    .sec-2 {
        height: auto;
    }

    .sec-2-inner {
        height: auto;
        gap: 2vw;
    }

    .s2i-box {
        width: 85vw;
        height: auto;
    }




    /* sec 3 start */
    .sec-3 {
        height: auto;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }


}