@media screen and (max-width: 575px) {

    .header-left {
        width: 22vw;
    }

    .header-left .h2 {
        font-size: 3vw;
    }

    .header-center {
        width: 42vw;
    }

    .header-center ul li {
        font-size: 2.5vw;
    }

    .header-right {
        width: 15vw;
        margin-bottom: 1.5vw;
    }

    a.hr {
        font-size: 1.7vw; 
    }

    .hero-sec {
        width: 85vw;
        height: auto;
        flex-direction: column;
    }

    .hero-sec-left {
        width: inherit;
        height: auto;
    }

    .top-p {
        font-size: 3vw;
    }

    .hero-sec-left h1 {
        font-size: 7vw;
    }

    .hero-sec-left h4 {
        font-size: 4vw;
    }

    .bottom-p {
        line-height: 3.5vw;
        font-size: 3vw;
    }

    a#hrl {
        font-size: 2vw;
    }

    .hero-sec-right {
        width: inherit;
        height: auto;
    }

    .box {
        width: 40vw;
        height: 40vw;
    }

    .box i {
        font-size: 10vw;
        margin-bottom: 3vw;
    }

    .box h3 {
        font-size: 3vw;
    }

    .box p {
        font-size: 3vw;
    }



























}